<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cargar Producto</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Kaushan+Script" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <main class="main-container-cargar">
      <div class="cargar">
        <h1><a href="http://localhost:3000">La mano invisible del mercado</a></h1>
        <div class="upload-form">
          <div class="salute">
            <h2>¡Hola {{user}}!</h2>
            <p>Publicá tu Bento en 5 pasos:</p>
            <ol>
              <li>Copiá y pegá la url de la imagen de tu producto</li>
              <li>Ponele un título</li>
              <li>Agregá el precio</li>
              <li>Hacé click en "Cargar producto"</li>
              <li>Click en "Cerrar sesión" para volver a la página principal</li>
            </ol>
            <p>Listo, verás tu producto cargado en la tienda.<br/>
              ¡Éxitos en tus ventas!</p>
          </div>
          <div class="form">
            <input id="url" type="text" name="" value="" placeholder="Url de imagen"/>
            <input id="title" type="text" name="" value="" placeholder="Nombre del Producto"/>
            <input id="price" type="text" name="" value="" placeholder="Precio ¥"/>
          </div>
          <div id="complete" class="success hide">¡Tu producto se cargó exitosamente!</div>
          <div id="incomplete" class="error hide">Completá todos los campos antes de publicar el producto.</div>
          <div class="buttons">
            <button type="button" name="button" id="upload">Cargar producto</button>
            <button type="button" name="button" id="logOut">Cerrar sesión</button>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
